{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <name op="=" value="RHEL-8.1.0"/>
  <variant op="=" value="BaseOS"/>
{% endset %}
{% set repos %}
  <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel8/8.1/{{ ARCH }}/appstream/os/"/>
  <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel8/8.1/{{ ARCH }}/baseos/os/"/>
  <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel8/8.1/{{ ARCH }}/codeready-builder/os/"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
  <ks_append><![CDATA[
%post
# Enable Buildroot for test dependencies
cat >/etc/yum.repos.d/BUILDROOT-8.repo <<EOF
[BUILDROOT-8]
name=BUILDROOT-8
baseurl=http://download.eng.rdu2.redhat.com/rhel-8/nightly/updates/BUILDROOT-8/latest-BUILDROOT-8.1.0-RHEL-8/compose/Buildroot/{{ ARCH }}/os/
enabled=1
gpgcheck=0
skip_if_unavailable=1
EOF
%end
]]>      </ks_append>
{% endset %}
{{- common.job(distro_requires=distro_requires, repos=repos, ks_append=ks_append,
               kcov_rhel_xy="81") -}}
