{% import "trees/common.j2" as common with context %}
{# Upstream favors DeviceTree, force it to use ACPI #}
{% set kernel_options %}
  {% if ARCH == "aarch64" %}acpi=force{% endif %}
{% endset %}
{% set distro_requires %}
  <distro_family op="=" value="Fedora33"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="Fedora-33"/>
{% endset %}
{% set repos %}
  <repo name="beaker-harness" url="http://beaker.engineering.redhat.com/harness/Fedora33/"/>
{% endset %}
{% set host_requires %}
  {# NOTE(rasibley): Exclude broken ppc64le machines which frequently abort #}
  {% if ARCH == "ppc64le" %}
    <not>
      <or>
        <hostname op="like" value="ibm-p9b-21%"/>
        <hostname op="like" value="ibm-p9b-11%"/>
        <hostname op="like" value="netqe-p9-01%"/>
      </or>
    </not>
  {% endif %}
  {# NOTE(rasibley): Exclude x86_64 machines which frequently abort on upstream jobs #}
  {% if ARCH == "x86_64" %}
    <not>
      <or>
        <hostname op="like" value="intel-sugarbay-dh%"/>
        <hostname op="like" value="cisco-c240m3-01.khw2%"/>
      </or>
    </not>
  {% endif %}
  {% if ARCH == "aarch64" %}
    <not>
      <or>
        {# NOTE(rasibley): Exclude aarch64 systems which frequently abort due to firmware quirks #}
        <hostname op="like" value="huawei%"/>
        <hostname op="like" value="hp%moonshot-%"/>
        <hostname op="like" value="cav-thunderx%"/>
        <hostname op="like" value="ampere%"/>
        <hostname op="like" value="apm-mustang-%"/>
        {# NOTE(rasibley): Exclude Cavium Thunder systems which fail to install #}
        {# NOTE(rasibley): https://github.com/linuxkit/linuxkit/issues/2434 #}
        <hostname op="like" value="gigabyte%"/>
        <hostname op="like" value="penguin-valkre%"/>
      </or>
    </not>
  {% endif %}
  {# NOTE(rasibley): Force it to our dedicated s390x nodes which support Fedora #}
  {% if ARCH == "s390x" %}
    <or>
      <hostname op="like" value="kernelci%s390%"/>
    </or>
  {% endif %}
{% endset %}
{% set ks_append %}
  <ks_append><![CDATA[
%post
cat >/usr/share/restraint/plugins/task_run.d/00_switchuser <<"EOF"
#!/bin/bash -x

if [ -n "$RSTRNT_SWITCHUSER" ]; then
    if ! getent passwd $RSTRNT_SWITCHUSER > /dev/null 2>&1; then
        useradd $RSTRNT_SWITCHUSER
    fi
    chown -R $RSTRNT_SWITCHUSER .
    su -c "$*" $RSTRNT_SWITCHUSER
else
    exec "$@"
fi
EOF
chmod 755 /usr/share/restraint/plugins/task_run.d/00_switchuser
dnf -y install initscripts
sed -i '/OOMScoreAdjust/ a OOMPolicy=continue' /usr/lib/systemd/system/restraintd.service
systemctl daemon-reload
%end
]]>      </ks_append>
{% endset %}
{% set ks_append %}
<ks_append><![CDATA[
%post
set -x
LVNAME=$(lvs -o lv_name,vg_name --noheadings | awk '/root/ {print $1}')
VGNAME=$(lvs -o lv_name,vg_name --noheadings | awk '/root/ {print $NF}')
lvextend -l +100%FREE /dev/${VGNAME}/${LVNAME}
xfs_growfs /
%end
]]></ks_append>
{% endset %}
{{- common.job(distro_requires=distro_requires,
               kernel_options=kernel_options,
               host_requires=host_requires,
               ks_append=ks_append,
               repos=repos) -}}
