{% if TREE.startswith("rhel") %}
  <task name="/kernel/kdump/setup-nfsdump" role="STANDALONE">
    <fetch url="{{ VARIABLES.kernel_tests_url }}#kdump/setup-nfsdump"/>
    <params>
      <param name="NFSSERVER" value="kdump.usersys.redhat.com"/>
      <param name="VMCOREPATH" value="/var/www/html/vmcore"/>
      <param name="WEBSERVERBASEURL" value="http://kdump.usersys.redhat.com/vmcore"/>
    </params>
  </task>
{% endif %}
